{% extends 'layoutLBS.html' %}

{% block body %}
  <h1>Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.email, class_="form-control")}}
    </div>

    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    


    <div class="form-horizontal">
    <h1>Ask for access to remove supermarkets?</h1>
   <div id="radios1" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
   
     <p> <h4>{{ form.requestAccess}} </h4></p>
   

</div>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}