{% extends 'layoutLBS.html' %}

{% block body %}




<script>

 $(function() {
              $('a#process_input').bind('click', function() {
                $.getJSON('/background_process', function(data) {
                     var text = $('#result2');
                     text.val(ladLong[0]); 
                     var text = $('#result3');
                     text.val(ladLong[1]); 
                });
                return false;
              });
            });
 
var ladLong = [];

function getLocation() {
   var options = {
           enableHighAccuracy: true,
           timeout: 6000
   }
   if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(showPosition, locationError, options);
   }  else {
     alert("Geolocation API is not supported in your browser.");
   }}

function showPosition(position) {
  ladLong.push(position.coords.latitude, position.coords.longitude);
}
   

function locationError(error){
   switch (error.code) {
       case error.PERMISSION_DENIED:
           alert("Denied request for Geolocation.");
           break;
       case error.POSITION_UNAVAILABLE:
           alert("Geolocation unavailable.");
           break;
       case error.TIMEOUT:
           alert("Geolocation request timed out.");
           break;
       case error.UNKNOWN_ERROR:
           alert("Unknown Geolocation error.");
           break;
   }       
}



       $.ajax({
           type: "POST",
           url: "{{ url_for('upload_file') }}",
           data:  ladLong, // serializes the form's elements.
           success: function (data) {
               console.log(ladLong);  // display the returned data in the console.
           }});
       
</script>


  <h1>Add Point</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  
 
  
    <form  action="" method="post" name="simple" enctype="multipart/form-data" id='point'>
        
     
	   <a href=# id=process_input><button class='class="btn btn-success" '>Get location</button></a>

        
    <div class="form-group">
    {{render_field(form.lat, id="result2",class_="form-control")}}
    </div>

    <div class="form-group">
      {{render_field(form.lon, id="result3", class_="form-control")}}
    </div>
    
     <div class="form-group">
      {{render_field(form.supermarket_name, class_="form-control")}}
    </div>
    
    <div class="form-group">
      {{render_field(form.superAddress, class_="form-control")}}
    </div>
    
    
         <div class="form-group">
      {{render_field(form.phone, class_="form-control")}}
    </div>
    
             <div class="form-group">
      {{render_field(form.email, class_="form-control")}}
    </div>
             <div class="form-group">
      {{render_field(form.web, class_="form-control")}}
    </div>
             <div class="form-group">
      {{render_field(form.contact_person, class_="form-control")}}
    </div>
             <div class="form-group">
      {{render_field(form.first_contact, class_="form-control")}}
    </div>
                 <div class="form-group">
      {{render_field(form.last_contact, class_="form-control")}}
    </div>
                     <div class="form-group">
      {{render_field(form.outdoor_person, class_="form-control")}}
    </div>
 
    
 <div class="form-horizontal">
    <h1>Choose supermarket importance (evaluation):</h1>
   <div id="radios1" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
   
     <p><h4>{{ form.choice}}</h4></p>

</div>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}