{% extends 'layoutLBS.html' %}

{% block body %}
<!DOCTYPE html>
<html>
  <head>
    <title>Bing Maps</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script><script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4-src.js" integrity="sha256-3C7q5+R4Ff0+vWiHFv31qL69a6qtT+Pjw/V+tsk1lWo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js" integrity="sha256-KJI74PS1qv3+hue+yyIWK/l8TxvS9u4WX7QDrtHkHOo=" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  </head>
  <body>
     <a href="/addPoint" class="btn btn-primary btn-lg">Add Supermarket</a>
     
     <a href="/removePoint" class="btn btn-danger btn-lg">Remove Supermarket</a>
          <a href="/addTourist" class="btn btn-success btn-lg">Add Tourist</a>

        
    </script>   

<div id="mapid" style="width: 1500px; height: 800px;"></div>

<script>      

var map = L.map('mapid').setView([49.007432, 8.409183], 12);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
}).addTo(map);

function ajaxCallPoints(){
    $.ajax({

    type: 'GET',
    
    url: "{{ url_for('interactive2') }}",
    data:  "{{ data }}", // serializes the form's elements.
    success: function (data) {  
             
for (var i = 0; i<data.length; i++){
    
                   var fountains = JSON.parse(JSON.stringify(data[i]));
                   var x = fountains['geometry']['coordinates'][0];
                   var y = fountains['geometry']['coordinates'][1];
                   var popupText = fountains['properties']["name"];
                   var markerLocation = new L.LatLng(x, y);
                   fountainsMarker = new L.Marker(markerLocation);
                   map.addLayer(fountainsMarker);
                   fountainsMarker.bindPopup(popupText);  
                   }       

    }});

    }
    
ajaxCallPoints();

</script>      

{% endblock %}